%h1#title ArchivesSpace EAD Checker (<a href="possible-errors">?</a>)
%hr
%form{action: 'result.xml', method: "post", enctype: "multipart/form-data"}
  .form-element
    %input{type: "file", name: "eadFile"}
  %p.form-help
    Choose an EAD file from your computer to see errors that need manual intervention.
  .form-element
    = partial 'refills/button-group', locals: {name: 'format', buttons: OUTPUT_OPTS.values}
  %p.form-help
    Desired output format. CSV download does not work on Chrome browser.
  .form-element
    %input{type: "submit", value: "Upload!", disabled: 'disabled'}
