%h1#title ArchivesSpace EAD Checker (<a href="possible-errors">?</a>)
%hr
%form{action: 'result.xml', method: "post", enctype: "multipart/form-data"}
  .form-element
    %input{type: "file", name: "eadFile"}
  %p.form-help
    Choose an EAD file from your computer to check.
  .form-element
    = partial 'refills/button-group', locals: {name: 'phase', buttons: PHASE_OPTS}
  %p.form-help
    See errors that need manual intervention, errors that can be automatically fixed, or all errors.
  .form-element
    = partial 'refills/button-group', locals: {name: 'format', buttons: OUTPUT_OPTS.values}
  %p.form-help
    Desired output format.
  .form-element
    %input{type: "submit", value: "Upload!", disabled: 'disabled'}
