%h1 Archivesspace EAD Checker
%p.instructions
  Upload an EAD to check
%hr
%form{method: "post", enctype: "multipart/form-data"}
  %input{type: "file", name: "eadFile"}
  %br
  %input{type: "submit", value: "Upload!"}
