@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'refills';

.content {
  h1[id] {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  hr {
    margin-top: 0;
  }
  @include outer-container(100%);
  > * {
    @include row();
    @include span-columns(12);
    text-align: center;
  }
  > form {
    @include media(480px) {
      @include span-columns(8);
      @include shift(2);
    }
    @include media(1024px) {
      @include span-columns(6);
      @include shift(3);
    }
    @include media(1280px) {
      @include span-columns(4);
      @include shift(4);
    }
    * {
      text-align: center;
    }
    > input[type="file"] {
      text-align: center;
    }
    > .form-help {
      color: #747474;
      margin-bottom: 1em;
    }
    > .form-element {
      @include span-columns(4 of 4);
      > .button-group {
        display:inline-block;
      }
    }
  }
  table {
    border-collapse: collapse;
  }
  td { padding: 0.5em;
       border: 1px solid #dfdfdf;
}
  tbody > tr:nth-child(2n) {
    background-color: #eee;
  }
  td:first-child {
    font-style: italic;
  }
  td:last-child {
    text-align: left;
  }
}
